app2.py
progress_label.py
test2.py
test_utube.py
Making*
downloader.log 
your_download_directory/
examprep.py
chart.py
PY_VAR1
ui2.py
__pycache__/
*.pyc
original_function.py
downloader22.py

__pycache__/downloader.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
__pycache__/ui.cpython-312.pyc